<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
        <add name="ConexionSQLServer" connectionString="Data Source=tcp:HADES\SQLEXPRESS, 49172;Initial Catalog=COPEMDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ConexionAccess" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=Z:\EGP2012.mdb;Persist Security Info=True;Jet OLEDB:Database Password=Bascuas2013"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>